* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(white, #001B79);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#tbAlunos {
    background-color: #001B79;
    border-radius: 7px;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 10px 15px;
    text-align: center;
    width: 35%;
}


header {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

th, td {
    text-align: center;
    padding: 10px;
}

td {
    background-color: #1640D6;
}